@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome! <a href="https://localhost:5001/Task">Go to the Task App</a></p>
</div>
